/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family: "STARWARS";
    src: url("/assets/font/STARWARS.eot?") format("eot"),
        url("/assets/font/STARWARS.woff") format("woff"), 
        url("/assets/font/STARWARS.ttf") format("truetype"),
        url("/assets/font/STARWARS.svg#STARWARS") format("svg");
    font-weight: normal;
    font-style: normal;
}